$main : white;

$secondary : #356AAB;
$secondary-dark: #03254E;
$secondary-light : #DCECFF;

$tertiary: #FF3838;
$tertiary-light: #FFC3C3;



$dark : #1C1C1C ;
$medium-dark: #535353;
$medium-light: #A9A9A9;
$light:#EBEBEB;

$font-family:sans-serif;

$radius: 5px;
